$barHeight : 5px;
$barBackgroundColor: transparent;
$pipColour: #cc2036;
$activeLinkColour : $pipColour;

.StageIndicator {
  width: 100%;
}


.StageIndicator__bar {
  height: $barHeight;
  background-color: $barBackgroundColor;
}

.StageIndicator__pip {
  height: $barHeight;
  background-color: $pipColour;

  transition: left 150ms ease-out;
}

.StageIndicator__labels {
  display: flex;
}

.StageIndicator__label {
  width: 100%;
  text-align: center;
  padding: 10px;
  position: relative;

  &:after {
    content: '\f054';
    font-family: 'FontAwesome';
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
  }
  &:last-child:after {
    content: none;
  }

  //Modifiers
  &.StageIndicator__label--active {
    color: $activeLinkColour;
  }
}

.StageIndicator__link {
  text-decoration: none;

  &:link, &:visited {
    color: $activeLinkColour;
  }

  &:hover, &:active {
    text-decoration: underline;
  }
}
