@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }

html {
  font-size: 16px; }

body {
  background-color: #ebebeb;
  font-family: 'Roboto', sans-serif;
  padding-top: 50px;
  color: #333333; }

h1 {
  color: #333333;
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px; }

h2 {
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px; }

#App {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

.StageIndicator {
  width: 100%; }

.StageIndicator__bar {
  height: 10px;
  background-color: grey; }

.StageIndicator__pip {
  height: 10px;
  background-color: red;
  transition: left 200ms ease-out; }

.StageIndicator__labels {
  display: flex; }

.StageIndicator__label {
  width: 100%;
  text-align: center;
  padding: 10px;
  position: relative; }
  .StageIndicator__label:after {
    content: '\f054';
    font-family: 'FontAwesome';
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%); }
  .StageIndicator__label:last-child:after {
    content: none; }
  .StageIndicator__label.StageIndicator__label--active {
    color: red; }
